/* General styles */
* {
  box-sizing: border-box;
}

.App {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: 20px; /* Add padding if needed */
}


body {
  font-family: 'Serif', Georgia;
  line-height: 1.6;
  color: #333;
  padding: 0;
  margin: 0;
  background-color: #84b5a53b; /* Light background color */
}

.sidebar {
  width: 200px; /* Adjust width as needed */
  background-color: #eceff1; /* Light grey background, you can change it */
  height: 100vh; /* Full height of the viewport */
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
}

.sidebar h2 {
  text-align: center;
}

.sidebar nav ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0;
}

.sidebar nav ul li {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}