/* General App CSS */
* {
  font-family: 'Arial', sans-serif;
  box-sizing: border-box;
}

.App {
  display: flex;
}

body {
  line-height: 1.6;
  color: #333;
  padding: 0;
  margin: 0;
  background-color: #84b5a53b;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

/* Sidebar CSS */
.sidebar {
  width: 200px;
  background-color: #eceff1;
  height: 100vh;
  padding: 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  text-align: center;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
}

/* Main Dashboard CSS */
.welcome {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  margin-bottom: 10px;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 10px;
}

.contact-info, .visiting-info {
  flex: 1;
  padding: 20px;
  font-size: small;
  margin-bottom: 5px;
}

.section-title {
  font-weight: bold;
}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }
  .dashboard-item {
    width: 100%;
  }
  .info-container {
    flex-direction: column;
  }
}

/* CSS Variables */
:root {
  --light-background: #f9f9f9;
  --main-text-color: #333;
  --secondary-text-color: #555;
  --main-btn-color: #007bff;
  --btn-hover-color: #0056b3;
  --border-color: #ddd;
  --light-gray: #e9e9e9;
}
