/* CSS Variables */
:root {
  --background-light: #f9f9f9;
  --text-main: #333;
  --text-secondary: #555;
  --btn-main: #007bff;
  --btn-hover: #0056b3;
  --border-color: #ddd;
  --light-gray: #e9e9e9;
  --sidebar-bg: #eceff1;
  --sidebar-width: 200px;
  --content-padding: 20px;
}

/* General App CSS */
* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--text-main);
  background-color: #84b5a53b;
}

.App {
  display: flex;
}

.content {
  flex-grow: 1;
  padding: var(--content-padding);
}

/* Sidebar CSS */
.sidebar {
  width: var(--sidebar-width);
  padding: 1rem;
  background-color: var(--sidebar-bg);
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  text-align: center;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 5px 0;
  padding: 10px;
  cursor: pointer;
}

/* Main Dashboard CSS */
.welcome, .section-title {
  text-align: center;
  margin-bottom: 10px;
}

.welcome {
  font-size: x-large;
  font-weight: bolder;
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 10px;
}

.contact-info, .visiting-info {
  flex: 1;
  padding: var(--content-padding);
  font-size: small;
  margin-bottom: 5px;
}

.section-title {
  font-weight: bold;

}

/* Responsive Design */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: auto;
  }

  .info-container {
    flex-direction: column;
  }
}
